.footer-nav-div {
    display: inline-block;
    box-sizing: border-box;
    font-size: 15px;
    font-weight: 400px;
    min-width: 140px;
    max-width: 180px;
}

.footer-nav-div li {
    margin-top: 0;
    text-align: -webkit-match-parent;
}

.footer-nav-div a {
    line-height: 24px;
    color: #9a3c0c;
    padding-top: 0;
    padding-bottom: 0;
    text-decoration: none;
    align-content: stretch;
}

a {
    background-color: transparent;
}

a:hover{
    cursor: pointer;
}

li {
    float: none;
    position: relative;
    display: block;
    box-sizing: border-box;
}

li > a {
    position: relative;
    display: block;
    padding: 10px 15px;
    border-radius: 3px;
}

ul {
    list-style-type: disc;
    display: block;
    margin-top: 0;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.nav-footer-header{
    font-weight: 700;
    color: black;
    margin: 2px 0 8px 15px;
}

#splashpage-footer {
    margin-top: 10px;
    background-color: #fff;
    border: 1px solid #9a3c0c;
    padding: 16px;
    height: 25%;
    width: 25%;
    font-size: 16px;
    box-sizing: border-box;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    border-radius: 3px;
}

#mario-splashpage {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#intro-container {
    padding: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

#mario-image {
    width: 27%;
    height: 27%;
    background-color: transparent;
}

img {
    background-color: transparent;
}
