.fa-trash:hover{
    cursor: pointer;
}

.fa-edit:hover{
    cursor:pointer;
}

.fa-plus-square:hover{
    cursor: pointer;
}

#gamePage-container {
    background-color: white;
    padding: 8px;
    margin: 8px;
    border: 1px solid #9a3c0c;
    border-radius: 3px;
}

#fullGamePage-container {
    display:flex;
}

#create-game-container {
    background-color: #ffa542;
    padding: 8px;
    border: 1px solid #9a3c0c;
    border-radius: 3px;
    position: absolute;
    top: 8px;
    right: 8px;
    color: #e75a10;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    background-clip: content-box;
    box-shadow: inset 0 0 0 8px;
}

#game-edit-delete-container {
    display: flex;
    padding: 5px;
}

#game-edit-container{
    padding: 5px;
}

#game-delete-container {
    padding: 5px;
}

#GamePage-nav-bar{
    padding: 8px;

}
