main {
    width: 100%;
    margin-right: auto;
}

#homepage-nav-bar {
    box-sizing: border-box;
    height: 50px;
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding: 16px;
    border-bottom: 1px solid #9a3c0c;
}

#homepage-logo {
    order: initial;
}

#progress-tracker {
    display: flex;
    flex-direction: row;
    padding: 16px;
    position: relative;
    top: 60px;
    justify-content: space-around;
}

#suggested-games {
    display:flex;
}
