main {
    width: 100%;
    margin-right: auto;
}

#homepage-nav-bar {
    box-sizing: border-box;
    height: 50px;
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding: 16px;
    border-bottom: 1px solid #9a3c0c;
}

#homepage-logo {
    order: initial;
}

#progress-tracker {
    display: flex;
    flex-direction: row;
    padding: 16px;
    position: relative;
    top: 60px;
    justify-content: space-around;
}

#suggested-games {
    display:flex;
}

#progress-games-list {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 5%;
    right: 5%;
}

#currently-playing-container {
    background-color: white;
    padding: 8px;
    border: 1px solid #9a3c0c;
    border-radius: 3px;
}
