main {
    width: 100%;
    margin-right: auto;
}

#homepage-nav-bar {
    box-sizing: border-box;
    height: 50px;
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding: 16px;
    border-bottom: 1px solid #9a3c0c;
}

#homepage-logo {
    order: initial;
}

#progress-tracker {
    display: flex;
    flex-direction: row;
    padding: 16px;
    position: relative;
    top: 60px;
    justify-content: space-around;
    margin: 2px;
}


#progress-games-list {
    display: flex;
    flex-direction: column;

}

#currently-playing-container {
    background-color: white;
    padding: 8px;
    border: 1px solid #9a3c0c;
    border-radius: 3px;
    height: 50vh;
    margin: 3px;
}

#suggested-games-container {
    background-color: white;
    padding: 8px;
    border: 1px solid #9a3c0c;
    border-radius: 3px;
    margin: 3px;
}

#my-shelves-link {
    /* text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; */

}

#my-shelves-link:hover {
    /* text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; */
    border-bottom: 0px 5px 0px 0px;
    border-bottom: 2px solid black;
}

#my-games-link:hover {
    /* text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; */

}
