#shelfPage-container {
    background-color: white;
    width: 35vw;
    padding: 8px;
    margin: 8px;
    height: 35vw;
    border: 1px solid #9a3c0c;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
}

#create-shelf-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#gameShelf-container {
    background-color: white;
    position: absolute;
    right: 20vw;
    top: 11vh;
    padding: 8px;
    width: 400px;
    border: 1px solid #9a3c0c;
    border-radius: 3px;
}

th, td {
    border: 1px solid black;
    width: 100%;
    padding: 0.5rem;
    text-align:left;
    font-size: 12px;
    border-radius: 3px;
}

th {
    background-color: #ffa542;
    color: white;
}
