#shelfPage-container {
    background-color: white;
    width: 35vw;
    padding: 8px;
    margin: 8px;
    border: 1px solid #9a3c0c;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
}

#create-shelf-container {
    background-color: white;
    padding: 8px;
    border: 1px solid #9a3c0c;
    border-radius: 3px;
    position: absolute;
    top: 8px;
    right: 8px;
}

#gameShelf-container {
    background-color: white;
    position: absolute;
    right: 20vw;
    top: 12.5vh;
    padding: 8px;
    width: 400px;
    border: 1px solid #9a3c0c;
    border-radius: 3px;
}

table{
    table-layout: auto;
}

th, td {
    border: 1px solid black;
    padding: 0.5rem;
    text-align:left;
    font-size: 12px;
    border-radius: 3px;
}

th {
    background-color: #ffa542;
    color: white;
}

#shelfpage-nav-bar {
    padding: 8px;
}

#list-of-shelves:hover{
    cursor: pointer;
}
