#splashpage-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
}

#splashpage-nav a:link, a:visited{
    text-decoration: none;
    color: #e75a10;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}


#new-account-box {
    width: 250px;
    margin: 14px 6px 0 0;
    font-family: 'Press Start 2P', cursive;
    padding: 24px;
    background: #ffa542;
    border: 1px solid #9a3c0c;
    border-radius: 3px;
    text-decoration: none;

}

#splashpage-logo {
    padding: 8px;
}

#sign-up-container{
    margin: 5px;
}

#log-in-container {
    margin: 5px;
}

#demo-log-in-container {
    margin: 5px;
}

#nav-bar-header {
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
